:root {
  --dark: #393b3d;
  --blue: #4589cc;
  --light: #f0f0f5;
  font-family: "Oswald", sans-serif;
}

/* margin added to fill white space */
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  box-sizing: border-box;
  height: 90px;
  background: var(--dark);
  display: flex;
  justify-content: space-between;
  padding: 30px 10%;
  color: var(--blue);
  font-family: "Oswald", sans-serif;
  border-bottom: var(--blue) solid 10px;
}

.topName {
  align-content: left;
}

.topnavLinks {
  display: inline-block;
  list-style: none;
  margin: 15px;
}

.topnavLinks a:hover {
  background-color: chartreuse;
}

.topnavLinks li {
  display: inline-block;
}

.topnavLinks a {
  color: var(--blue);
  padding: 12px;
  font-size: 24px;
  text-decoration: none;
}

.container {
  display: flex;
}

.aboutMe {
  margin: 2px;
  padding: 4px;
  color: var(--blue);
  background-color: var(--light);
  border-radius: 15px;
}

.leftHead {
  border-right: var(--blue) solid 5px;
  justify-content: center;
  max-width: 20%;
  min-width: 10%;
  font-size: 25px;
}

.contentAboutMe {
  padding: 4%;
}

.work {
  margin: 2px;
  padding: 4px;
  color: var(--blue);
  background-color: var(--light);
  border-radius: 15px;
}

.workPictures {
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  min-width: 80%;
}

#foodTruck {
  height: 500px;
  width: 500px;
}

#foodTruckSS {
  height: 500px;
  width: 500px;
}

#projectSmall {
  height: 200px;
  width: 200px;
  align-items: flex-start;
}

.caption {
  padding-bottom: 20px;
}

#projectTwo {
  padding-top: 40px;
}

footer {
  box-sizing: border-box;
  height: 30px;
  background: var(--dark);
  display: flex;
  justify-content: center;
  padding: 29px 10%;
  color: var(--blue);
  font-family: "Oswald", sans-serif;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
